{% extends 'base.html' %}

{% block title %}{{ data.name }}{% endblock %}

{% block content %}
    <div>Товары для животных - {{ data.name }}</div>
    {% for animal in data.categories %}
        {% if animal.name == data.name %}
            {% for category in animal.categories %}
                <li><a href="{% url 'category_url' category.name %}">{{ category.title }}</a> </li>
            {% empty %}
                <li>Список пуст</li>
            {% endfor %}
        {% endif %}
    {% empty %}
        <li>Список пуст</li>
    {% endfor %}
{% endblock %}