{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/example.css' %}">
    <title>{% block title %}{% endblock %}</title>

</head>

<body>
    <div id="Header">
    <img style="width:100%" src="{% static "RIP_lab/images/main.png" %}" />
    <br><p> Добро пожаловать в Благотворительный Пенсионный Фонд </p>
    <p style="color:darkred" >"Старость Без Забот"!</p>
        <a href="http://127.0.0.1:8000/"> <button style="font-size:20px;"> На главную </button> </a>
        <br>Сегодняшняя дата -> [ {{ data.current_date }} ] <-
    </div>
        {% block content %}{% endblock %}
</body>
</html>

<!-- основной шаблон для каждой страницы <img src="{ % static "RIP_lab/images/logo3.png" %}" /> -->