{% extends 'base.html' %}

{% block title %}{{ data.id }}{% endblock %}

{% block content %}
    <div style="text-align:center; font-size:40px; font-weight:bold;" >Товары категории "{{ data.category.category_name }}"</div>
<ul>
    {% for service in data.data %}
        <img src= {{ service.image }} />
        <div style="font-size:40px; font-weight:bold;">{{ service.service_name }}</div>
        <div>Описание: {{ service.description }}</div>

        {% if service.price == NULL %}
            <div>Цена: уточняется у менеджера!</div>
        {% elif service.price == 0 %}
            <div>Цена: БЕСПЛАТНО!</div>
        {% else %}
            <div>Цена: {{ service.price }} руб.</div>
        {% endif %}

    {% empty %}
        <li>Список пуст :(</li>
    {% endfor %}
</ul>
{% endblock %}